<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-grid>
          <ion-row>
            <ion-col><h3>GContacts Clone</h3></ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button shape="round" (click)="presentAddModal()">
              <ion-icon slot="start" name="person-add-outline"></ion-icon> Add Contact
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-list>
          <ion-list-header><strong>Contacts</strong></ion-list-header>
          <ion-item href="#"> All Contacts </ion-item>
          <ion-item *ngFor="let ac of accounts" href="#"> {{ac.name}} </ion-item>
        </ion-list>
        
        <ion-list>
          <ion-list-header><strong>Markers</strong></ion-list-header>
          <ion-item *ngFor="let m of markers" href="#">
            <ion-text color={{m.color}}>{{ m.name }}</ion-text>
          </ion-item>
        </ion-list>

      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
